## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
# Your code here
sample_list_1 = random.sample(range(0,101),k = 80) # with random.sample is supposed to return unique values (the range function makes the stop value NOT included)
print('sample_list_1 =',sample_list_1)
print('count:',len(sample_list_1))
type(sample_list_1)

sample_list_1 = [68, 5, 34, 42, 4, 76, 20, 82, 36, 30, 11, 51, 9, 96, 13, 33, 73, 79, 61, 54, 85, 98, 46, 10, 57, 16, 71, 50, 89, 100, 99, 87, 15, 43, 70, 94, 26, 39, 90, 23, 64, 12, 6, 40, 62, 49, 65, 37, 21, 0, 88, 17, 69, 72, 53, 67, 55, 83, 7, 22, 14, 86, 45, 35, 78, 27, 25, 48, 47, 84, 77, 75, 60, 63, 52, 74, 29, 91, 2, 93]
count: 80

list

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print('set1 =',set1)
print('count:',len(set1))
print(len(sample_list_1) == len(set1))
type(set1)

set1 = {0, 2, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 20, 21, 22, 23, 25, 26, 27, 29, 30, 33, 34, 35, 36, 37, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 96, 98, 99, 100}
count: 80
True

set

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2 = []
counter = 0
for value in range(80):
  value = random.randint(0, 100)  # Genera un valor aleatorio entre 0 y 100
  sample_list_2.append(value)  # Agrega el valor a la lista
  counter += 1

print('sample_list_2 =',sample_list_2)
print('count:', len(sample_list_2))

sample_list_2 = [94, 35, 63, 99, 84, 3, 79, 5, 50, 79, 80, 1, 12, 38, 12, 99, 24, 26, 37, 87, 56, 7, 10, 53, 10, 62, 34, 32, 57, 10, 13, 36, 50, 63, 13, 44, 63, 3, 56, 20, 65, 77, 31, 45, 52, 22, 22, 26, 35, 32, 56, 6, 56, 46, 26, 43, 11, 12, 7, 58, 39, 98, 73, 31, 8, 80, 88, 93, 53, 3, 77, 44, 58, 89, 49, 71, 80, 21, 72, 39]
count: 80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2 = set(sample_list_2)
print('set2 =',set2)
print('count:', len(set2))
print('Is its length still 80?',len(sample_list_2) == len(set2))

set2 = {1, 3, 5, 6, 7, 8, 10, 11, 12, 13, 20, 21, 22, 24, 26, 31, 32, 34, 35, 36, 37, 38, 39, 43, 44, 45, 46, 49, 50, 52, 53, 56, 57, 58, 62, 63, 65, 71, 72, 73, 77, 79, 80, 84, 87, 88, 89, 93, 94, 98, 99}
count: 51
Is its length still 80? False

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1 - set2
print('set3 =', set3)
type(set3)

set3 = {0, 2, 4, 9, 14, 15, 16, 17, 23, 25, 27, 29, 30, 33, 40, 42, 47, 48, 51, 54, 55, 60, 61, 64, 67, 68, 69, 70, 74, 75, 76, 78, 82, 83, 85, 86, 90, 91, 96, 100}

set

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2 - set1
print('set4 =', set4)
type(set4)

set4 = {32, 1, 3, 58, 38, 8, 44, 80, 24, 56, 31}

set

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)
print('set5 =', set5)
type(set5)

set5 = {5, 6, 7, 10, 11, 12, 13, 20, 21, 22, 26, 34, 35, 36, 37, 39, 43, 45, 46, 49, 50, 52, 53, 57, 62, 63, 65, 71, 72, 73, 77, 79, 84, 87, 88, 89, 93, 94, 98, 99}

set

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
# Your code here

# 1. Regarding the previous sets worked one, let's imagine the lenght of every set as the number of students per class room:

print('set1 counts:',len(set1), 'students')
print('set2 counts:',len(set2), 'students')
print('set3 counts:',len(set3), 'students')
print('set4 counts:',len(set4), 'students')
print('set5 counts:',len(set5), 'students')

set1 counts: 80 students
set2 counts: 51 students
set3 counts: 40 students
set4 counts: 11 students
set5 counts: 40 students

In [12]:
# 2. Now, let's put it in a new list called sets_len_list and put their values in ascending order:

sets_len_list = [len(set1), len(set2), len(set3), len(set4), len(set5)]
print('sets_len_list =',sets_len_list)
print('--------------------------------------')
print("let's sort the current list")
sets_len_list.sort()
print('sets_len_list =',sets_len_list)
type(sets_len_list)

sets_len_list = [80, 51, 40, 11, 40]
--------------------------------------
let's sort the current list
sets_len_list = [11, 40, 40, 51, 80]

list

In [13]:
# 3. Let's apply descriptive statistics:

import statistics as stats

sets_len_list.sort()
print('sets_len_list =',sets_len_list)

sets_len_list = [11, 40, 40, 51, 80]

In [14]:
# Mean

mean_sets_len_list = stats.mean(sets_len_list)
print('mean_sets_len_list =', mean_sets_len_list)

mean_sets_len_list = 44.4

In [15]:
# Median

median_sets_len_list = stats.median(sets_len_list)
print('median_sets_len_list =', median_sets_len_list)

median_sets_len_list = 40

In [16]:
# Bigger Set

max_sets_len_list = max(sets_len_list)
print('max_sets_len_list =',max_sets_len_list)

max_sets_len_list = 80

In [17]:
# Smaller Set

min_sets_len_list = min(sets_len_list)
print('min_sets_len_list =',min_sets_len_list)

min_sets_len_list = 11

In [19]:
# Standard deviation for Sets:

stDev_sets_len_list = stats.stdev(sets_len_list)
print('stDev_sets_len_list =',round(stDev_sets_len_list,2))

stDev_sets_len_list = 24.83

In [20]:
import math

total_students = sum(sets_len_list)
print(total_students)
student_per_classroom = math.floor(total_students / len(sets_len_list))
print('student_per_classroom =',student_per_classroom)
type(student_per_classroom)

222
student_per_classroom = 44

int

In [21]:
# Your explanation here:

print('At the end, I used a math formula (math.floor) when doing the exercise as a "classrooms analogy" to explain the relationship among the len(x) values from sets. The standard deviation shows there is plenty of students that can fill up the classrooms with fewer ones. Besides, this allows the teaches, as much as their students to NOT get any crazier.')

At the end, I used a math formula (math.floor) when doing the exercise as a "classrooms analogy" to explain the relationship among the len(x) values from sets. The standard deviation shows there is plenty of students that can fill up the classrooms with fewer ones. Besides, this allows the teaches, as much as their students to NOT get any crazier.

#### Create an empty set called `set6`.

In [22]:
# Your code here
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [24]:
# Your code here (https://thedataschools.com/python/set/update-metodo-conjuntos/)

set6.update(set3,set5)
print('set6 =',set6)
type(set6)

set6 = {0, 2, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 20, 21, 22, 23, 25, 26, 27, 29, 30, 33, 34, 35, 36, 37, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 96, 98, 99, 100}

set

#### Check if `set1` and `set6` are equal.

In [25]:
# Your code here
print('set1 and set6 are equal?', set1 == set6)

set1 and set6 are equal? True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [29]:
# Your code here (https://thedataschools.com/python/set/issubset-metodo-conjuntos/)

print('count set1: ', len(set1))
print('count set2: ', len(set2))

# Se considera subconjunto (subset) cuando es menor que el otro conjunto:
# set2 = 60 < set1 = 80

x = set2.issubset(set1) # ¿set2 es subconjunto de set1?
print('¿set2 es subconjunto de set1?',x)

y = set3.issubset(set1)  # ¿set3 es subconjunto de set1?
print('¿set3 es subconjunto de set1?',y)

count set1:  80
count set2:  51
¿set2 es subconjunto de set1? False
¿set3 es subconjunto de set1? True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [30]:
# Your code here

union1 = set3.union(set4.union(set5)) # Unir set3 con set4 y con set5
print('union1 =', union1)

union2 = union1.union(set1.union(set2))
print('union2 =', union2)

print('Aggregated values are equal?', union1 == union2)

union1 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 96, 98, 99, 100}
union2 = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 96, 98, 99, 100}
Aggregated values are equal? True

#### Using the `pop` method, remove the first element from `set1`.

In [32]:
# Your code here

set1.pop()
print('set1 =', set1)
print('set1 count:',len(set1))

set1 = {4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 20, 21, 22, 23, 25, 26, 27, 29, 30, 33, 34, 35, 36, 37, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 96, 98, 99, 100}
set1 count: 78

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [33]:
# Your code here
set1.add(1)
print('set1 =',set1)
list_to_remove = set([1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99])

new_set = set1 - list_to_remove
print('new_set =',new_set)
type(set1)

set1 = {1, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 20, 21, 22, 23, 25, 26, 27, 29, 30, 33, 34, 35, 36, 37, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 93, 94, 96, 98, 99, 100}
new_set = {4, 5, 6, 7, 10, 12, 13, 14, 15, 16, 17, 20, 22, 23, 25, 26, 27, 30, 33, 34, 35, 36, 37, 40, 42, 43, 45, 46, 47, 48, 50, 52, 53, 54, 55, 57, 60, 62, 63, 64, 65, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 82, 83, 84, 85, 86, 87, 88, 90, 93, 94, 96, 98, 100}

set